@import url(http://fonts.googleapis.com/css?family=Fjalla+One&subset=latin,latin-ext);

#vlb1overlay{
	position:absolute;
	top:0;
	left:0;
	z-index:190;
	width:100%;
	height:auto;
	background-color:#BBBBBB;
}

#vlb1lightbox{
	position:absolute;
	top:20px;
	left:0;
	width:100%;
	z-index:2000;
	text-align:center;
	color:#FFFFFF;
	line-height:0;
	padding-top: 20px;
}
#vlb1lightbox td{
	vertical-align:top;
}
#vlb1lightbox a, #vlb1lightbox a:hover {
	border-bottom:none;
	color:#FFFFFF;
	text-decoration:underline;
}

#vlb1lightbox a img{ border:none; }

#vlb1outerImageContainer{
	width:auto;
	height:auto; /* without this line error in IE8 detected */
	margin:0 auto;
	position:relative;
}

#vlb1lightboxImage{
	width:100%;
	height:100%;
}

#vlb1imageContainerMain{
	margin:0 auto;
	overflow:visible;
	position:relative;
	font-size:0;/* ie fix - big info bar*/
}

#vlb1imageContainer{
	width:150px;
	height:30px;
	margin:0 auto;
	overflow:hidden;
	background-color:#fff;
	position:relative;
	font-size:0;/* ie fix - big info bar*/
}

#vlb1loading{
	position:absolute;
	top:40%;
	left:0%;
	height:25%;
	width:100%;
	text-align:center;
	font-size:10px;
	z-index:1;
}
#vlb1loadingLink {
	display:block;
	margin:0 auto;
	padding:0;
	width:32px;
	height:32px;
	background:url(loading.gif) center center no-repeat;
	text-indent:-9999px;
}
#vlb1hoverNav{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:10;
}
#vlb1imageContainer>#hoverNav{ left:0;}
#vlb1prevLinkImg{
	top:50%;
	margin-top: -37px; 
	height: 74px;
	width: 74px;  
	position:absolute;
	z-index:20;
	outline-style:none;
	display:block;
	text-indent:-9999px;
	background-position: 0 0;
	}
#vlb1nextLinkImg{
	top:50%;
	margin-top: -37px; 
	height: 74px;
	width: 74px;   
	position:absolute;
	z-index:20;
	outline-style:none;
	display:block;
	text-indent:-9999px;
	background-position: 100% 0;
}	
* html #vlb1prevLinkImg,* html #vlb1nextLinkImg{
	background-image:url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */
}
#vlb1prevLinkImg { left: 3px; }
#vlb1nextLinkImg { right: 3px; }
 
#vlb1imageContainerMain:hover #vlb1prevLinkImg{
	background-image:url(arrows.png);
    background-position: 0 0;
}
#vlb1imageContainerMain:hover #vlb1nextLinkImg{
	background-image:url(arrows.png);
	background-position: 100% 0; 
}
* html #vlb1prevLinkImg{
	background-image:url(arrows.png);
}
* html #vlb1nextLinkImg{
	background-image:url(arrows.png);
} 

#vlb1imageDataContainer{
	width: auto;
	position: absolute;
	z-index:21;
	bottom: 20px;	
	left: 5px;	
}

#vlb1imageData{
	font-family: 'Fjalla One',Arial,sans-serif;
	font-size: 28px;
    line-height: 30px; 	
	color: #FFFFFF;
	background-color: #acb7bd;
	margin-right: 15px;
	overflow:visible;
	position: relative;
	z-index:21;
	text-align:center;
    text-shadow: -4px 4px 0 #5B8990; 
}
#vlb1imageDetails{ width:100%; padding: 0;}
#vlb1caption{ display:block;text-align:left; padding: 12px;}
#vlb1numberDisplay{ display:none;text-align:right;}
#vlb1detailsNav{display:none;}
#vlb1prevLinkDetails, #vlb1nextLinkDetails{display:none;}

#vlb1imageDataContainer{
    width: auto;
    position: absolute;
    z-index:21;
    bottom: 20px;    
    left: 5px;    
}

#vlb1close{
	position:relative;
	width:100%;
	height:0;
	z-index:21;
}
#vlb1closeLink {
	position:absolute;
	top:-17px;
	right:-17px;
	display:block;
	outline-style:none;
	margin:0;
	padding:0;
	text-decoration:none;
	width:44px;
	height:44px;
	background:url(close.png) no-repeat;
	background-position: 0 0;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='index_files/vlb_files1/close.png', sizingMethod='scale');
}
 

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html>body .clearfix {display:inline-block; width:100%;}

* html .clearfix {
	/* Hides from IE-mac \*/
	height:1%;
	/* End hide from IE-mac */
}	

#vlb1outerImageFrame{
	border:5px solid red;
	height:100%;
	width:100%;
	position:absolute;
}

#vlb1outerImageContainer{
	overflow:visible;
	margin-bottom: 5px;
}
#vlb1outerImageContainer td{
	text-align:center;
	padding:0;
}

#vlb1lightboxFrameBody{
	background-color:transparent;
}
.vlb{display:none;}
#vlb1outerImageContainer td, #vlb1outerImageContainer tr{
	font-size:0;
	border:0 none;
}

#vlb1outerImageContainer td.tl, #vlb1outerImageContainer td.br{
	height:5px;
	width:5px;
}

#vlb1outerImageContainer td.tl{
	background-color: #acb7bd;
}
#vlb1outerImageContainer td.tc{
	background-color: #acb7bd;
}
#vlb1outerImageContainer td.tr{
	background-color: #acb7bd;
}
#vlb1outerImageContainer td.ml{
	background-color: #acb7bd;
}
#vlb1outerImageContainer td.mr{
	background-color: #acb7bd;
}
#vlb1outerImageContainer td.bl{
	background-color: #acb7bd;
}
#vlb1outerImageContainer td.bc{
	background-color: #acb7bd;
}
#vlb1outerImageContainer td.br{
	background-color: #acb7bd;
} 